html, body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
header img {
    width: 300px;
}
header {
    background-color: #d61284;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}


header nav ul{
    display: flex;
}

header a {
    margin-left: 20px;
    font-size: 1.2rem;
    text-transform: capitalize;
}

header a:hover {
    color: #06badd;
}


.hero {
    background-color: #06badd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 70%;
}

.hero p {
    margin-bottom: 30px;
    text-align: justify;
    width: 70%;
}

.hero iframe{
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0.3rem 0.3rem 0.5rem;

}

header a, footer, h1, h2, h3, p, i {
    color: #FFF;
}

.hero h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 15px;
}

.hero h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.hero i {
    font-size: 2rem;
    opacity: 0.9;
    transition: 0.5s;
}
.hero i:hover {
    opacity: 1;
    text-shadow: 0.2rem 0.2rem 0.4rem #000;
    transform: scale(1.3, 1.3);
}

.hero form {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px 50px;
}

.hero form input {
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 450px;
}

.hero form .btn-enviar {
    padding: 15px;
    border: none;
    background-color: #d61284;
    font-weight: bold;
    color: #FFF;
    border-radius: 5px;
    opacity: 0.9;
    max-width: 150px;
    cursor: pointer;
    transition: 0.5s;
}

.hero form .btn-enviar:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0.2rem 0.2rem 0.4rem #000;
}


.conteudo {
    background-color: #0EC4B5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.artigo {
    display: flex;
    width: 60%;
    justify-items: start;
    justify-content: space-between;
    margin: 20px;
}


.artigo img {
    width: 350px;
    border-radius: 15px;
    border: 3px solid #075852;
    transition: 0.8s;
}

.artigo img:hover{
    border: 3px solid #d61284;
    border-radius: 15px;
    box-shadow: 0.2rem 0.2rem 0.4rem #000;
    position: relative;

}

.artigo p {
    margin: 15px;
    padding: 20px;
}



.foto {
    width: 100%;
}

footer {
    background-color: #d61284;
    width: 100%;
    position: relative; /*fica por baixo*/
    bottom: 0;
    right: 0;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    display: flex;
}

footer li {
    margin-left: 15px;
}

footer li:first-child {
    margin-left: 0;
}
footer i {
    color: #FFF;
    font-size: 2rem;
}

@media (max-width: 991px) {
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 20px;
    }
    .hero {
        padding: 20px 20px
    }

    .hero h1 {
        font-size: 2.0rem;

    }

    .hero p {
        width: 95%;
    }

    .hero iframe {
    width: 100%;
    }

    .hero i {
        font-size: 2.3rem;
    }

    .hero form {
        width: 100%;
    }
    .hero form input {
        width: 100%;
    }

    .artigo {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 80%;
    }

}
